---
BasedOnStyle: Google
Language: Cpp
Standard: Latest
ColumnLimit: 120
IndentWidth: 4
AccessModifierOffset: -4
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
...
